<!DOCTYPE html>
<html>
    <head>
        {% load static %}
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Plume</title>
		<link rel="stylesheet" href="{% static 'Plume/css/style.css' %}"/>	
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
    <body>
	<div id="bloc_principal">
		<header>
			<!-- pour référencement -->		
		</header>
		
			<div id="Menu">
			<nav>
				<ul><li><a href="#"><img src="{% static 'Plume/img/menu_home1.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_home1_over.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_home1.svg' %}'" width="83" height="56" alt="Accueil" />Accueil</a></li>
					<li><a href="#"><img src="{% static 'Plume/img/menu_planification.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_planification_over.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_planification.svg' %}'" width="83" height="56" alt="Planificateur" />Planificateur</a></li> <!-- Tâches + Séries + Plan de culture + Récoltes Qrop + Volume de production Spécifique -->
					<li><a href="#"><img src="{% static 'Plume/img/menu_param1.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_param_over1.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_param1.svg' %}'" width="83" height="56" alt="Paramètres_ferme" />Paramètres ferme</a></li> <!-- Prise en compte des spécificités des fermes (planches, ...) -->
					<li><a href="Catalogue.html"><img src="{% static 'Plume/img/menu_semences.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_semences_over.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_semences.svg' %}'" width="83" height="56" alt="Semences" />Semences</a></li> <!-- Gestion des stocks de semences -->
					<li><a href="#"><img src="{% static 'Plume/img/menu_fournisseur.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_fournisseur_over.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_fournisseur.svg' %}'" width="83" height="56" alt="Fournisseurs" />Fournisseurs</a></li> <!-- Gestion des fournisseurs et accès à leurs catalogues -->
					<li><a href="#"><img src="{% static 'Plume/img/menu_distribution.svg' %}" onmouseover="this.src='{% static 'Plume/img/menu_distribution_over.svg' %}'" onmouseout="this.src='{% static 'Plume/img/menu_distribution.svg' %}'" width="83" height="56" alt="Distributeurs" />Distribution</a></li> <!-- Gestion des distributeurs : AMAP, Marché, distribution locale, ... -->
					<li><a href="#"><img src="{% static 'Plume/img/menu_gestion.png' %}" onmouseover="this.src='{% static 'Plume/img/menu_gestion_over.png' %}'" onmouseout="this.src='{% static 'Plume/img/menu_gestion.png' %}'" width="83" height="56" alt="Gestion" />Gestion</a></li> <!-- Gestion financière : Bilan, Compte résultat, journal, ... -->
				</ul>
            </nav>
			</div>
			
		<div id="content">
			<div id="bloc_legume"> 
			 <!--<p> Nous sommes le : {{ date }} </p> --> 
				<p> Gestion des légumes </p>
				<p> 
				{% for legume in legumes %}
					{{ legume.title }}
				{% endfor %} 
				</p> 
				<table class="table">
					<tr>
						<th>Espece</td>
						<th>Variété</td>
						<th>Unité</td>
						<th>Mode de culture</td>
					</tr>
					<tr>
						<td>Artichaut</td>
						<td>Violet</td>
						<td>Pièce</td>
						<td>PC</td>
					</tr>
					<tr>
						<td>Aubergine</td>
						<td>Little Finger/Black beauty</td>
						<td>KG</td>
						<td>ABRI</td>
					</tr>
				</table>
			</div>
			
			<div id="bloc_panier"> 
			<p> Gestion des paniers </p>
			</div>			
			
			<div id="bloc_assolement">
				<p> Gestion de l'assolement </p>			
			</div>
		</div>
		
		<footer>
			<!-- pour référencement -->
		</footer>
    </div>
	</body>
</html>